<table class="table table-hover">
  <thead class="thead-light">
    <th>name.</th>
    <th>Email</th>
    <th>Birth Date</th>
    <th>Mobile Phone</th>
    <th>
      <a class="btn btn-outline-success" routerLink="/order" title="Create New Patient"><i class="fa fa-plus-square"></i></a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let prescriber of prescribers">
      <td (click)="openForEdit(item.PersonId)">{{prescriber.Firstname}} {{prescriber.Lastname}}</td>
      <td (click)="openForEdit(item.PersonId)">{{prescriber.Email}} </td>
      <td (click)="openForEdit(item.PersonId)">{{prescriber.Birth_date}}</td>
      <td (click)="openForEdit(item.PersonId)">{{prescriber.Mobile_phone}}</td>
      <td align="center" style="width: 100px"> 
           <a style="cursor: pointer" class="text-danger" (click)="onOrderDelete(item.PrescriptionId)" title="Remove Patient" ><i class="fa fa-trash fa-lg"></i></a>
      </td>
    </tr>
  </tbody>
</table>